body::after {
	content: "";
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.8s ease 0s;
	pointer-events: none;
	z-index: 149;
}

.popup-show body::after {
	opacity: 1;
}

.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 30px 10px;
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	pointer-events: none;
}

.popup_show {
	z-index: 150;
	visibility: visible;
	overflow: auto;
	pointer-events: auto;
}

.popup_show .popup__content {
	visibility: visible;
	transform: scale(1);
}

.popup__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.popup__content {
	visibility: hidden;
	transform: scale(0);
	transition: transform 0.3s ease 0s;
	background-color: #eee;
	padding: 20px;
	width: 100%;
	max-width: 1140px;
	border-radius: 20px;

	.lock & {
		visibility: visible;
	}

	&.pickup-addresses__content {
		border-radius: 3px;
		background-color: $white;
		@include adaptiveValue("padding", 40, 16);
	}
}

.pickup-addresses {

	// .pickup-addresses__header

	&__header {
		display: flex;
		justify-content: space-between;
	}

	// .pickup-addresses__title

	&__title {
		@include adaptiveValue("font-size", 36, 24);
		line-height: math.div(43, 36);

		&:not(:last-child) {
			margin-bottom: em(40, 36);
		}
	}

	// .pickup-addresses__close

	&__close {
		position: relative;

		&::after {
			content: '';
			background: url('@img/header/popup/close.svg') 0 0 no-repeat;
			position: absolute;
			width: rem(13);
			height: rem(13);
			top: 0;
			transform: translate(-100%, 50%);
			left: 0;
		}
	}
}

//========================================================================================================================================================

.pickup-addresses {

	// .pickup-addresses__line

	&__line {
		padding: rem(13) rem(20);
		background-color: $greyBg;
		border-radius: 3px;
		display: flex;
		justify-content: space-between;
		gap: rem(15);

		@media (max-width:$mobile) {
			display: none;
		}
	}

	// .pickup-addresses__items

	&__items {}

	// .pickup-addresses__item

	&__item {
		border-bottom: 1px solid $greyText;
		padding-bottom: rem(20);
		margin-bottom: rem(20);

		@media (max-width:$mobile) {
			border: none;
			background-color: $greyBg;
			padding: rem(16);
		}
	}
}

.line-addresses {

	// .line-addresses__text

	&__text {
		font-weight: 500;
		font-size: rem(24);
		line-height: math.div(29, 24);
		color: $greyText;
	}

	&:not(:last-child) {
		margin-bottom: rem(20);
	}
}

.item-addresses {
	display: flex;
	justify-content: space-between;
	line-height: math.div(22, 18);
	gap: rem(16);

	@media (max-width:$mobile) {
		flex-direction: column;
	}

	// .item-addresses__address

	&__address {
		max-width: rem(568);

		@media (max-width:$mobile) {
			border-bottom: 1px solid $greyText;
			padding-bottom: rem(16);
		}
	}

	// .item-addresses__time

	&__time {
		max-width: rem(326);

		@media (min-width:$mobile) {
			text-align: right;
		}
	}

	// .item-addresses__blue

	&__blue {
		color: $blue;
	}

	// .item-addresses__grey

	&__grey {
		color: $greyText;
	}

	// .item-addresses__orange

	&__orange {
		color: $orange;
	}
}