.checkbox {
	position: relative;

	&:not(:last-child) {
		margin-bottom: em(5);
	}

	// .checkbox__input
	&__input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;

		&:focus+.checkbox__label:before {}

		&:checked+.checkbox__label:after {
			background: url('@img/page-catalog/filter/checkbox.svg') center no-repeat;
		}

		&:checked+.checkbox__label:before {
			border: 3px solid $blue;
		}
	}

	// .checkbox__label
	&__label {
		cursor: pointer;
		display: inline-flex;
		align-items: center;
		position: relative;
		gap: 10px;

		&:before {
			content: "";
			align-self: flex-start;
			flex: 0 0 rem(19);
			width: rem(19);
			height: rem(19);
			border: 1px solid #a7a9ac;
		}

		&::after {
			content: '';
			position: absolute;
			height: rem(17);
			width: rem(17);
			transform: scale(1.3);
			left: rem(1);
			top: 0;
		}
	}

	// .checkbox__text
	&__text {
		padding-bottom: rem(10);
		line-height: math.div(19, 18);
	}
}