//<QUANTITY>
// Снипет (HTML): qa
.quantity {
	height: rem(45);

	@include adaptiveValue("width", 120, 80);
	display: flex;
	border: 1px solid #9C9C9C;
	border-radius: 3px;
	background-color: #fff;

	// .quantity__button
	&__button {
		flex: 0 0 rem(40);

		@media (max-width:$mobileSmall) {
			flex: 0 0 rem(30);
		}

		position: relative;
		cursor: pointer;

		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transition: all 0.3s ease 0s;
			margin: 0px 0px 0px -4.5px;
			background-color: $mainColor;
			width: 9px;
			height: 1px;
		}

		@media (any-hover: hover) {
			&:hover {

				&::before,
				&::after {
					background-color: rgba(0, 0, 0, 0.5);
				}
			}
		}

		// .quantity__button_plus
		&_plus {
			&::before {
				transform: rotate(-90deg);
			}
		}

		// .quantity__button_minus
		&_minus {}
	}

	// .quantity__input
	&__input {
		flex: 1 1 auto;

		input {
			height: 100%;
			color: $blue;
			font-size: 12px;
			width: 100%;
			text-align: center;
		}
	}
}