// Заголовки, общие БЄМ блоки и проче...

.page {

    // .page__main-block

    &__main-block {
        padding-top: rem(12);
        @include adaptiveValue("padding-bottom", 50, 20);
    }

    // .page__top-sales

    &__top-sales {
        @include adaptiveValue("padding-top", 50, 20);
        @include adaptiveValue("padding-bottom", 50, 20);
    }

    // .page__show-catalog

    &__show-catalog {
        @include adaptiveValue("margin-top", 50, 20);
        @include adaptiveValue("margin-bottom", 50, 20);
    }

    // .page__stock-products

    &__stock-products {
        @include adaptiveValue("padding-top", 50, 20);
        @include adaptiveValue("padding-bottom", 50, 20);
    }

    // .page__advantages

    &__advantages {
        @include adaptiveValue("padding-top", 50, 20);
        @include adaptiveValue("padding-bottom", 50, 20);
    }

    // .page__breadcrumbs

    &__breadcrumbs {
        @include adaptiveValue("padding-bottom", 50, 32);
    }
}

.page-catalog {

    // .page-catalog__header

    &__header {}

    // .page-catalog__view

    &__view {}

    // .page-catalog__controlls

    &__controlls {}
}

.page-card {

    // .page-card__main-block

    &__main-block {
        @include adaptiveValue("padding-bottom", 25, 20);
    }

    // .page-card__features

    &__features {
        @include adaptiveValue("padding-top", 25, 20);
    }

    // .page-card__feedback

    &__feedback {
        @include adaptiveValue("padding-bottom", 25, 20);
    }

    // .page-card__suggestions

    &__suggestions {
        @include adaptiveValue("padding-top", 25, 20);
        @include adaptiveValue("margin-bottom", 50, 20);
    }
}

.page-contacts {

    // .page-contacts__title

    &__title {}

    // .page-contacts__map

    &__map {
        @include adaptiveValue("padding-bottom", 25, 20);
    }

    // .page-contacts__addresses

    &__addresses {
        @include adaptiveValue("margin-top", 25, 20);
        @include adaptiveValue("padding-bottom", 25, 20);
    }

    // .page-contacts__socials

    &__socials {
        @include adaptiveValue("padding-top", 25, 20);
        @include adaptiveValue("padding-bottom", 25, 20);
    }
}

.page-delivery {

    // .page-delivery__main

    &__main {
        @include adaptiveValue("padding-bottom", 25, 20);
    }
}

//========================================================================================================================================================

.button {

    background-color: $blue;
    color: $white;
    padding: rem(18) 0;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    // .button_icon

    &_icon {
        padding-left: rem(29);
        position: relative;

        @media (max-width: em(599.98)) {
            padding-left: rem(0);
        }

        &::before {
            content: '';
            left: 0;
            top: 0;
            position: absolute;
        }
    }

    // .button_white

    &_white {
        background-color: $white;
        color: $blue;
        font-weight: 600;
    }
}

//========================================================================================================================================================

.arrow-slider {
    width: rem(43);
    height: rem(43);
    background-color: $blue;
    position: relative;
    border-radius: 3px;

    &::after {
        content: '';
        position: absolute;
        width: rem(6);
        height: rem(12);
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
    }

    // .arrow-slider_prev

    &_prev {
        &::after {
            background: url('@img/main-block/controlls/prev-slide.svg') 0 0 no-repeat;
        }
    }

    // .arrow-slider_next

    &_next {
        &::after {
            background: url('@img/main-block/controlls/next-slide.svg') 0 0 no-repeat;
        }
    }
}

//========================================================================================================================================================

.page-card-title {
    font-size: rem(24);
    line-height: math.div(29, 24);
    padding-bottom: rem(30);
    margin-bottom: rem(30);
    border-bottom: 1px solid $greyText;
}

//========================================================================================================================================================

[class*="copyrights-pane"] {
    display: none !important;
}

[class*="ground-pane"] {
    filter: grayscale(1);
}

//========================================================================================================================================================

.socials-contacts-title {
    font-weight: 500;
    @include adaptiveValue("font-size", 24, 18);
    line-height: math.div(29, 24);
    color: $greyText;
    @include adaptiveValue("padding-bottom", 30, 24);
}

.socials-contacts-text {}