.delivery-main {

    // .delivery-main__container

    &__container {}

    // .delivery-main__items

    &__items {
        display: flex;
        gap: rem(30);
    }

    &__column {
        display: flex;
        flex-direction: column;
        gap: rem(30);
        flex: 0 1 50%;
    }

    // .delivery-main__item

    &__item {
        padding: rem(30);
        background-color: $greyBg;
        border-radius: 3px;
    }

    &__slider {
        @media (min-width:$mobile) {
            display: none;
        }
    }

    // .delivery-main__controlls

    &__controlls {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // .delivery-main__prev

    &__prev {}

    // .delivery-main__controlls-title

    &__controlls-title {
        font-size: rem(24);
        line-height: math.div(29, 24);
    }

    // .delivery-main__next

    &__next {}

    // .delivery-main__wrapper

    &__wrapper {
        &:not(:last-child) {
            margin: rem(24) 0;
        }
    }
}

.item-delivery {
    p {
        color: $greyText;

        &:not(:last-child) {
            padding-bottom: rem(30);
        }

        line-height: math.div(22, 18);
    }

    // .item-delivery__text

    &__text {

        // .item-delivery__text_block

        &_block {
            padding-bottom: rem(30);
            margin-bottom: rem(30);
            border-bottom: 1px solid $greyText;
        }
    }

    // .item-delivery__title

    &__title {
        @include adaptiveValue("font-size", 36, 24);
        line-height: math.div(29, 36);
        padding-bottom: rem(30);

        @media (max-width:$mobile) {
            display: none;
        }
    }

    // .item-delivery__subtitle

    &__subtitle {
        padding-bottom: rem(30);
    }

    // .item-delivery__orange

    &__orange {
        color: $orange;
        padding-right: rem(7);
    }

    // .item-delivery__link

    &__link {}

    // .item-delivery__list

    &__list {}
}

.list-delivery {

    // .list-delivery__item

    &__item {}
}

//========================================================================================================================================================