//====================================================================================================

.footer {
    background-color: $mainColor;
    @include adaptiveValue("margin-top", 50, 20);
    // .footer__container

    &__container {}

    // .footer__inner

    &__inner {
        display: flex;
        flex-direction: column;
        @include adaptiveValue("gap", 50, 32);
        @include adaptiveValue("padding-top", 50, 30);
        @include adaptiveValue("padding-bottom", 50, 30);
        color: #9C9C9C;
    }

    // .footer__body

    &__body {
        display: flex;
        flex-wrap: wrap;
        column-gap: rem(15);
        row-gap: rem(32);

        @media (max-width: em(724.98)) {}
    }

    // .footer__info

    &__info {}

    // .footer__socials

    &__socials {}

    // .footer__copyrights

    &__copyrights {
        font-size: rem(12);
        line-height: math.div(14, 12);
    }
}

.info-footer {
    max-width: rem(245);

    @media (max-width: em(724.98)) {
        max-width: 100%;
    }

    // .info-footer__list

    &__list {
        display: flex;
        flex-direction: column;
        gap: rem(20);

        @media (max-width: em(724.98)) {
            width: 100%;
            flex-wrap: wrap;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            row-gap: rem(40);
            column-gap: rem(32);
        }
    }

    // .info-footer__item

    &__item {}

    // .info-footer__logo

    &__logo {}

    // .info-footer__number

    &__number {
        color: $white;
    }

    // .info-footer__email

    &__email {
        color: $white;
    }

    // .info-footer__time

    &__time {
        color: $white;
    }

    // .info-footer__address

    &__address {
        line-height: math.div(19, 18);
    }
}

.footer-info {

    // .footer-info__nav

    &__nav {}
}

.nav-footer {
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
    column-gap: rem(90);
    margin: 0 rem(-15);

    @media (max-width: em(724.98)) {
        width: 100%;
        flex-wrap: wrap;
    }

    // .nav-footer__spollers

    &__spollers {
        @media (max-width: em(724.98)) {
            width: 100%;
            border-bottom: 1px solid #9C9C9C;
            padding: 0 rem(15);
        }
    }

    // .nav-footer__columns

    &__columns {
        display: flex;
        flex-direction: column;
        gap: rem(26);

        @media (max-width: em(724.98)) {
            display: block;
            width: 100%;
        }
    }
}

.spollers-nav-footer {

    &_first {
        @media (max-width: em(724.98)) {
            border-top: 1px solid #9C9C9C;
        }
    }

    // .spollers-nav-footer__item

    &__item {}

    // .spollers-nav-footer__title

    &__title {
        line-height: math.div(22, 18);
        color: $white;
        text-align: left;

        &:not(:last-child) {
            padding-bottom: rem(20);
        }

        @media (max-width: em(724.98)) {
            padding-top: rem(20);
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: rem(8);

            &::after {
                content: '';
                background: url('@img/footer/unfold-icon.svg') 0 0 no-repeat;
                display: block;
                width: rem(13);
                height: rem(13);
            }
        }
    }

    // .spollers-nav-footer__body

    &__body {
        padding-bottom: rem(20);
    }
}

.body-spollers-nav {

    // .body-spollers-nav__list

    &__list {}

    // .body-spollers-nav__item

    &__item {
        &:not(:last-child) {
            margin-bottom: rem(10);
        }
    }

    // .body-spollers-nav__link

    &__link {
        line-height: math.div(19, 18);
    }
}

.socials-footer {
    display: flex;
    flex-direction: column;
    gap: rem(30);
    // .socials-footer__feedback

    &__feedback {
        display: flex;
        align-items: center;
        gap: rem(10);
    }

    // .socials-footer__button

    &__button {
        &::before {
            background: url('@img/footer/user-icon.svg') 0 0 no-repeat;
            width: rem(19);
            height: rem(19);
            left: rem(45);
            top: 50%;
            transform: translate(0px, -45%);
        }
    }

    // .socials-footer__payment-text

    &__payment-text {}

    // .socials-footer__payment

    &__payment {
        display: flex;
        gap: rem(10);
    }
}

.feedback-socials {

    // .feedback-socials__text

    &__text {
        &:not(:first-child) {
            padding-left: rem(10);
            line-height: math.div(19, 18);
        }
    }
}


//====================================================================================================