//====================================================================================================

.main-block {
    // .main-block__container

    &__container {}

    // .main-block__inner

    &__inner {
        background: url('@img/main-block/background.jpg') right / cover no-repeat;
        display: grid;
        width: 100%;
        grid-template-columns: rem(325) percent(717, 1142);
        @include adaptiveValue("padding-left", 82, 20);
        @include adaptiveValue("padding-top", 82, 20);
        @include adaptiveValue("padding-right", 82, 20);
        @include adaptiveValue("padding-bottom", 53, 20);
        column-gap: rem(15);

        &:not(:last-child) {
            margin-bottom: rem(16);
        }

        @media (max-width:$tablet) {
            grid-template-columns: 1fr;
        }
    }

    // .main-block__swiper

    &__swiper {}

    // .main-block__media

    &__media {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.swiper-main-block {
    // .swiper-main-block__wrapper

    &__wrapper {
        max-width: rem(325);

        @media (max-width: em(399.98)) {
            max-width: rem(260);
        }
    }

    // .swiper-main-block__slide

    &__slide {}

    // .swiper-main-block__controlls

    &__controlls {}
}

.slide-main-block {

    // .slide-main-block__title

    &__title {
        font-weight: 900;
        @include adaptiveValue("font-size", 64, 40);
        line-height: math.div(77, 64);

        &:not(:last-child) {
            margin-bottom: em(20, 64);
        }

        @media (max-width:$tablet) {
            text-align: center;
        }
    }

    // .slide-main-block__text

    &__text {
        color: $greyText;
        line-height: math.div(22, 18);
        @include adaptiveValue("margin-bottom", 50, 0);

        @media (max-width:$tablet) {
            text-align: center;
        }
    }
}

.controlls-swiper-main {
    display: flex;
    gap: rem(20);

    @media (max-width:$tablet) {
        justify-content: center;
        align-items: center;
    }

    // .controlls-swiper-main__more

    &__more {
        min-width: rem(185);
        @include adaptiveValue("min-width", 185, 140);
    }

    &__arrow {
        width: rem(55);
        height: rem(55);
    }
}

.media-main-block {
    position: relative;
    // .media-main-block__image

    &__image {

        img {
            max-width: 100%;
        }
    }

    // .media-main-block__tipps

    &__tipps {
        position: absolute;
        text-transform: uppercase;
        @include adaptiveValue("padding", 14, 7);
        color: $white;
        border-radius: rem(3);
        @include adaptiveValue("font-size", 18, 10);

        // .media-main-block__tipps_1

        &_1 {
            background-color: $blue;
            left: percent(169, 665);
            bottom: percent(145, 394);
        }

        // .media-main-block__tipps_2

        &_2 {
            background-color: $orange;
            right: percent(116, 665);
            top: percent(64, 394);
        }
    }
}


//====================================================================================================

.show-catalog {
    position: relative;

    &__content {}

    // .show-catalog__inner

    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
        padding: rem(50);
        background: url('@img/show-catalog/bg.png') 50% 50% / cover no-repeat;
        gap: rem(80);

        @media (max-width: em(1049.98)) {
            display: block;
            padding: rem(0);
            background: $blue;
        }
    }

    // .show-catalog__img

    &__img {
        @media (max-width:$mobile) {
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(rem(-5), rem(-42));
        }
    }

    // .show-catalog__body

    &__body {}
}

.body-show-catalog {
    display: flex;
    gap: rem(25);
    position: relative;
    // .body-show-catalog__content

    &__content {
        display: flex;
        flex-direction: column;

        @media (max-width: em(1049.98)) {
            padding-bottom: rem(50);
            padding-left: rem(20);
        }

        @media (max-width:$mobile) {
            padding-top: rem(250);
        }

        @media (max-width: em(349.98)) {
            padding-bottom: rem(25);
            padding-left: rem(10);
        }
    }

    &__title-wrapper {
        flex: 1 1 auto;
    }

    // .body-show-catalog__title

    &__title {
        @include adaptiveValue("font-size", 24, 20);
        line-height: math.div(29, 24);
        color: $white;
        max-width: rem(320);
        padding-bottom: rem(45);

        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: rem(100);
            height: rem(1);
            background-color: $white;
            left: 0;
            bottom: 0;
        }

        @media (max-width: em(1049.98)) {
            margin-bottom: rem(80);
        }
    }

    // .body-show-catalog__button

    &__button {
        @media (max-width: em(519.98)) {
            @include adaptiveValue("max-width", 262, 171);
        }
    }

    // .body-show-catalog__img

    &__img {

        @media (max-width:$mobile) {
            position: absolute;
            transform: translate(calc(100% - rem(150)), calc(100% - rem(201)));
            right: 0;
            bottom: 0;
        }

        @media (max-width: em(349.98)) {
            transform: translate(calc(100% - rem(130)), calc(100% - rem(201)));
        }
    }
}

//========================================================================================================================================================

.advantages-page {

    // .advantages-page__container

    &__container {}

    // .advantages-page__title

    &__title {
        font-size: rem(36);
        line-height: math.div(43, 36);
        @include adaptiveValue("margin-bottom", 72, 32);
    }

    // .advantages-page__items

    &__items {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(rem(263), 1fr));
        @include adaptiveValue("gap", 30, 15);
    }

    // .advantages-page__item

    &__item {
        padding: rem(30) rem(17);
        background-color: $greyBg;
    }

    // .advantages-page__controlls

    &__controlls {
        text-align: center;
        margin-top: rem(16);

        @media (min-width:em(575.98)) {
            display: none;
        }
    }

    &__slider {
        @media (min-width:em(575.98)) {
            display: none;
        }
    }
}

.item-advantages {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(20);

    // .item-advantages__image

    &__image {
        padding: rem(25);
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: $orange;
            opacity: 0.15;
            top: 0;
            left: 0;
            border-radius: 50%;
        }

        &:not(:last-child) {
            margin-bottom: rem(10);
        }

        img {}
    }

    // .item-advantages__title

    &__title {
        text-align: center;
    }

    // .item-advantages__text

    &__text {
        text-align: center;
        line-height: math.div(19, 16);
        color: $greyText;
        font-size: rem(16);
    }
}