.products {

    // .products__container

    &__container {}

    // .products__header

    &__header {
        @include adaptiveValue("margin-bottom", 72, 32);
    }

    // .products__slider

    &__slider {}

    &__block-wrapper {}
}

.header-products {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: rem(15);
    // .header-products__title

    &__title {
        font-size: rem(36);
        line-height: math.div(43, 36);
    }

    // .header-products__controlls

    &__controlls {
        display: flex;
        gap: rem(10);
    }

    // .header-products__prev

    &__prev {}

    // .header-products__next

    &__next {}
}

.arrow-slider {

    // .arrow-slider_prev

    &_prev {}

    // .arrow-slider_next

    &_next {}
}

.slider-products {
    // .slider-products__wrapper

    &__wrapper {}

    // .slider-products__slide

    &__slide {}
}

.slide-products {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100% !important;
    position: relative;

    @media (max-width: em(1179.98)) {
        height: auto !important;
    }

    // .slide-products__body

    &__body {
        display: flex;
        flex-direction: column;
        gap: rem(10);
    }

    // .slide-products__image-link

    &__image-link {
        background-color: $greyBg;
        @include adaptiveValue("padding", 30, 20);
        border-radius: 3px;

        &:not(:last-child) {
            margin-bottom: rem(20);
        }
    }

    // .slide-products__image

    &__image-ibg {
        display: block;
        padding-bottom: percent(203, 203);

        img {}
    }

    // .slide-products__favorite

    &__favorite {
        position: absolute;
        max-width: 100%;
        top: 5%;
        right: 7%;
    }

    &__special {
        position: absolute;
        left: 0;
        top: 4.5%;
        text-transform: uppercase;
        color: $white;
        font-size: rem(14);
        line-height: math.div(17, 14);
        display: flex;
        flex-direction: column;
        gap: rem(5);
    }

    &__sell {
        background-color: $red;
        padding: rem(3) rem(10);
        border-radius: 0px 3px 3px 0px;
        display: none;

        .slide-products_sell & {
            display: block;
        }
    }

    &__new {
        background-color: $orange;
        padding: rem(3) rem(10);
        border-radius: 0px 3px 3px 0px;
        display: none;

        .slide-products_new & {
            display: block;
        }
    }

    // .slide-products__model

    &__model {
        font-weight: 500;
        line-height: math.div(22, 18);
        color: $greyText;
        text-transform: uppercase;
        @include adaptiveValue("font-size", 18, 16);
    }

    // .slide-products__name

    &__name {
        line-height: math.div(22, 18);
        @include adaptiveValue("font-size", 18, 16);
        flex: 1 1 auto;
    }

    // .slide-products__info

    &__info {}

    &__buttons {
        @media (max-width:$mobileSmall) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: rem(8);
        }
    }
}

.info-products {

    &:not(:last-child) {
        @include adaptiveValue("margin-bottom", 20, 0);
    }

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: rem(15);

    // .info-products__prices

    &__prices {
        display: flex;
        align-items: center;
        gap: rem(20);
        font-weight: 500;
        line-height: math.div(29, 24);
        @include adaptiveValue("font-size", 24, 15);
    }

    // .info-products__price

    &__price {}

    // .info-products__oldprice

    &__oldprice {
        color: $greyText;
        text-decoration-line: line-through;
    }

    svg {
        @media (max-width:$mobileSmall) {
            display: none;
        }
    }

    // .info-products__compare

    &__compare {
        display: none;

        @media (max-width:$mobileSmall) {
            height: 100%;
            background-color: $blue;
            border-radius: 3px;
            flex: 0 1 35%;
            display: flex;
            justify-content: center;
            align-items: center;

            path {
                fill: $white;
            }
        }
    }

    // .info-products__button

    &__button {

        &::before {
            background: url('@img/products/cart.svg') 0 0 no-repeat;
            width: rem(17);
            height: rem(17);
            top: rem(18);

            @include adaptiveValue("left", 70, 10, 1920, 599.98, 1);

            @media (max-width: em(599.98)) {
                display: none;
            }
        }

        @media (max-width:$mobileSmall) {
            flex: 0 1 65%;
        }
    }
}