.main-block {

    // .main-block__container

    &__container {

        gap: rem(30);

        @media (min-width:$tablet) {
            display: flex;
        }
    }

    // .main-block__image

    &__image {
        flex: 0 1 50%;

        img {
            max-width: 100%;
        }

        @media (max-width:$tablet) {
            margin: 0 auto;
        }
    }

    // .main-block__product-info

    &__product-info {
        flex: 0 1 50%;
        @include adaptiveValue("padding", 30, 0);
        background-color: $greyBg;
        border-radius: 3px;

        @media (max-width:$tablet) {
            background-color: $white;
        }
    }
}

.product-info {

    &>*:not(:last-child) {
        @include adaptiveValue("padding-bottom", 30, 16);
        @include adaptiveValue("margin-bottom", 30, 16);
        border-bottom: 1px solid $greyText;
    }

    // .product-info__top

    &__top {
        display: flex;
        align-items: start;
        gap: rem(15);
    }

    // .product-info__title

    &__title {
        @include adaptiveValue("font-size", 36, 24);
        line-height: math.div(43, 36);
        flex: 1 1 auto;

        span {
            color: $greyText;
        }
    }

    // .product-info__favorite

    &__favorite {
        @media (max-width:$mobileSmall) {
            padding: rem(14);
            background-color: $blue;
            border-radius: 3px;

            path {
                fill: white;
            }
        }
    }

    // .product-info__rating

    &__rating {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    // .product-info__comments

    &__comments {
        color: $greyText;

        @media (min-width:$mobileSmall) {
            flex: 1 1 auto;
        }
    }

    // .product-info__share

    &__share {
        @media (max-width:$mobileSmall) {
            padding: rem(14);
            background-color: $blue;
            border-radius: 3px;

            path {
                fill: white;
            }
        }
    }

    // .product-info__body

    &__body {
        @media (max-width:$tablet) {
            display: grid;
            grid-template-rows: auto 1fr auto;
            row-gap: rem(16);
        }
    }

    // .product-info__prices

    &__prices {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // .product-info__price

    &__price {
        @include adaptiveValue("font-size", 36, 24);
        line-height: math.div(43, 36);
        font-weight: 500;
    }

    // .product-info__old-price

    &__old-price {
        @include adaptiveValue("font-size", 36, 24);
        line-height: math.div(43, 36);
        font-weight: 500;
        color: $greyText;
        text-decoration-line: line-through;
    }

    // .product-info__quantity

    &__quantity {}

    // .product-info__buttons

    &__buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: rem(15);
    }

    // .product-info__button

    &__button {
        flex: 1 1 auto;

        @media (min-width:$tablet) {
            max-width: rem(263);
        }
    }

    // .product-info__sold

    &__sold {
        color: $red;
        position: relative;
        padding-left: rem(13);

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(0px, -50%);
            background-color: $white;
            border: rem(2) solid $red;
            border-radius: 50%;
            width: rem(8);
            height: rem(8);
        }
    }
}

.body-product-info {

    // .body-product-info__numbers

    &__numbers {
        display: flex;
        column-gap: rem(30);
        color: $greyText;
        line-height: math.div(19, 18);
    }

    // .body-product-info__artikul

    &__artikul {
        span {
            color: $mainColor;
        }
    }

    // .body-product-info__model

    &__model {
        span {
            color: $mainColor;
        }
    }
}


.info-products {

    // .info-products__button

    &__button {}
}

//========================================================================================================================================================

.features-card {
    &:not(:last-child) {
        padding-bottom: rem(30);
    }

    // .features-card__container

    &__container {}

    &__inner {
        background-color: $greyBg;
        padding: rem(30);
    }

    // .features-card__title

    &__title {}

    // .features-card__items

    &__items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: rem(30);
        row-gap: rem(20);


        @media (max-width:$mobile) {
            grid-template-columns: 1fr;
        }
    }

    // .features-card__item

    &__item {
        display: flex;
        gap: rem(15);
    }
}

.item-features {
    line-height: math.div(22, 18);
    // .item-features__feature

    &__feature {
        flex: 1 1 auto;
        color: $greyText;
    }

    // .item-features__value

    &__value {}
}

//========================================================================================================================================================

.feedback-card {

    // .feedback-card__container

    &__container {
        display: flex;
        gap: rem(30);

        @media (max-width:$tablet) {
            flex-direction: column;
        }
    }

    // .feedback-card__description

    &__description {
        background-color: $greyBg;
        border-radius: 3px;
        padding: rem(30);

        @media (min-width:$tablet) {
            width: 50%;
        }
    }

    // .feedback-card__title

    &__title {
        font-size: rem(24);
        line-height: math.div(29, 24);
    }

    // .feedback-card__text

    &__text {
        line-height: math.div(22, 18);
        color: $greyText;
    }

    // .feedback-card__comments

    &__comments {
        background-color: $greyBg;
        border-radius: 3px;
        padding: rem(30);

        @media (min-width:$tablet) {
            width: 50%;
        }
    }
}

.page-card-title {}

.comments-feedback {

    // .comments-feedback__header

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: start;
        gap: rem(15);
        padding-bottom: rem(18);
        margin-bottom: rem(30);
        border-bottom: 1px solid $greyText;
    }

    // .comments-feedback__controlls

    &__controlls {
        display: flex;
        gap: rem(10);
        align-items: center;
    }

    // .comments-feedback__prev

    &__prev {}

    // .comments-feedback__next

    &__next {}

    // .comments-feedback__slider

    &__slider {}

    // .comments-feedback__wrapper

    &__wrapper {}

    // .comments-feedback__slide

    &__slide {}
}

.arrow-slider {

    // .arrow-slider_prev

    &_prev {}

    // .arrow-slider_next

    &_next {}
}

.swiper {}

.swiper-wrapper {}

.slide-comments {
    display: flex;
    flex-direction: column;
    gap: rem(25);
    // .slide-comments__header

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    // .slide-comments__text

    &__text {
        line-height: math.div(22, 18);
        color: $greyText;
    }
}

.swiper-slide {}

.header-slide {

    // .header-slide__user

    &__user {
        display: flex;
        align-items: center;
        gap: rem(10);
    }

    // .header-slide__img

    &__img {}

    // .header-slide__name

    &__name {
        line-height: math.div(22, 18);
    }

    // .header-slide__rating

    &__rating {}
}

//========================================================================================================================================================